* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font: 18px/1.9 'Lato', Ariel, helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.black-head,
.main-head-container,
.nav-bar-desktop,
.main-logo,
.header-button-1,
.see-whole-program,
.footer-1,
.partner-image-template,
.dynamic-footer,
.partner-image-desktop-2 {
  display: none;
}

.image-partner-mob {
  display: block;
  width: 100%;
  height: 26vh;
  margin: auto;
}

.partner-image-set2 {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  min-height: 100px;
  margin: auto;
  background: url(./images/head-mobile-background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.description-mobile-1 {
  border: 4px solid #fff;
  padding-left: 10px;
}

#hamburger {
  display: block;
  float: left;
  margin-left: 4vw;
  margin-top: 2vh;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.showcase-mobile {
  background-color: #f5f5f5;
  width: 100%;
  margin-top: -3vh;
  height: auto;
}

.container-mobile {
  width: 93%;
  margin: auto;
}

.second-heading {
  padding-top: 40px;
}

.curriculumn-mobile-grid {
  background-image: url(./images/dark-svg-background-image.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin: auto;
}

.course-modules-mobile {
  margin: auto;
  width: 93%;
}

.curriculumn-mobile-grid h2 {
  color: #fff;
  text-align: center;
}

.orange-text {
  color: #ec5242;
}

.white-text {
  color: #fff;
}

h1,
.second-heading {
  font-size: 60px;
  font-stretch: extra-condensed;
  font-family: Lato, sans-serif, Helvetica;
  font-weight: bolder;
  margin-top: -0.25vh;
  line-height: 1.1;
}

.start-date-1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -0.25vh;
}

.orange-bar-mobile {
  display: block;
  margin: 5px auto;
  width: 5vw;
  height: 3px;
  background: #ec5242;
}

.orange-line-mobile {
  display: block;
  justify-content: center;
}

.box-flex {
  width: 100%;
  display: grid;
  grid-template-columns: 40px 1.2fr 3fr;
  gap: 15px;
  background-color: rgba(2, 2, 2, 0.479);
  margin-top: 10px;
}

.box-flex:hover {
  border: 1px solid wheat;
}

.html-logo,
.skill-name-mobile {
  margin: auto;
  display: block;
}

.join-class-button {
  width: 70vw;
  height: 4em;
  background-color: #ec5242;
  color: #fff;
  margin: 5vh auto 7vh 15vw;
}

.trainer-details {
  width: 93%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.company-name-body-sec {
  width: 100%;
  height: 100%;
}

.trainer-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.trainer-1-image {
  margin: auto;
}

.red-para {
  color: red;
}

.more-button {
  width: 100%;
  background-color: #fff;
  height: 60px;
  margin-bottom: 40px;
  border: 1px black solid;
}

.more-button:hover {
  background-color: #f5a49a;
}

.description-mobile-2 {
  background: #fff;
  border: 1px lightgrey solid;
}

.white-back {
  padding: 10px 10px;
}

.announcement-mobile-1 {
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.announcement-mobile-2 h4 {
  margin-top: -0.25vh;
}

.announcement-mobile-2 p {
  margin-bottom: -0.25vh;
}

.announcement-mobile-2 {
  padding-bottom: 10px;
}

.box-1 {
  width: 93%;
  margin: auto;
}

.box-2 {
  width: 93%;
  margin: auto;
  height: 250px;
  border: 1px lightgrey solid;
}

.main-logo-body {
  color: #ec5242;
}

.previous-class {
  width: 93%;
  margin: auto;
}

.blurr-img {
  margin: auto;
}

.blurr-img img {
  filter: sepia();
  width: 100%;
  height: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
}

.footer-1 {
  min-height: 100px;
}

.footer-content {
  width: 75%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 20px;
}

.popMobileWindow {
  display: none;
}

.popMobileWindow.active {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #272a31;
  top: 0;
  right: 0;
  opacity: 0.95;
  animation: mobile-popup 70ms;
  transition: ease-in-out;
}

.home {
  color: #ec5242;
  margin-left: 20px;
  font-size: 30px;
}

.inner-div {
  display: flex;
  flex-direction: column;
}

.popMobileCrossbutton {
  margin-left: 80%;
  margin-top: 3vh;
}

@keyframes mobile-popup {
  0% { width: 25%; }
  25% { width: 50%; }
  50% { width: 75%; }
  75% { width: 90%; }
  100% { width: 100%; }
}

.pop-up-mobile-window {
  margin: auto;
}

.dynamic-img {
  width: 150px;
  height: 160px;
  margin-top: 30px;
}

.trainer-detail-grid {
  display: flex;
  gap: 20px;
}

.red-text {
  color: red;
}

@media (min-width: 768px) {
  #hamburger,
  .join-class-button,
  .no-display-text,
  .image-partner-mob,
  .more-button {
    display: none;
  }

  .black-head,
  .main-head-container,
  .nav-bar-desktop,
  .main-logo,
  .partner-image-template,
  .partner-image-desktop-2,
  .dynamic-footer {
    display: block;
  }

  header {
    background-image: none;
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom: 1px #f5f5f5 solid;
  }

  .black-head {
    background-color: #272a31;
    width: 100%;
    height: 35px;
  }

  .black-head ul {
    float: right;
    margin-right: 14vw;
    margin-top: 0;
    display: flex;
  }

  .black-head ul li {
    padding-left: 20px;
    color: #fff;
  }

  .black-head ul li h5 {
    margin-top: 3px;
    font-weight: 300;
  }

  header .current a {
    color: #ec5242;
  }

  .black-head ul li a {
    color: #fff;
  }

  .main-header-content {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .main-logo-body {
    margin-top: 10px;
    animation: sliding-logo 1s;
  }

  @keyframes sliding-logo {
    0% {
      margin-left: 0%;
    }

    20% {
      margin-left: 20%;
    }

    40% {
      margin-right: -40%;
    }

    60% {
      margin-left: -60%;
    }

    80% {
      margin-right: 40%;
    }

    100% {
      margin-left: 20%;
    }
  }

  .header-button-1 {
    display: block;
    width: 170px;
    height: 60px;
    border: 5px solid #ec5242;
    background-color: #fff;
    color: #ec5242;
    margin-top: 12px;
  }

  .header-button-1:hover {
    background-color: #ee8f84;
    color: #fff;
    transform: scale(1.1);
  }

  .nav-bar-desktop ul {
    display: flex;
    gap: 25px;
    padding-top: 10px;
  }

  .nav-bar-desktop ul li a {
    color: black;
  }

  .showcase-mobile {
    background-image: url(./images/header.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: 3vh;
  }

  .container-mobile {
    width: 80%;
    height: auto;
    padding-top: 45px;
  }

  .second-heading {
    padding-top: 70px;
  }

  .hello-text {
    margin-top: 50px;
  }

  .white-text {
    text-align: center;
  }

  .company-name-body-sec {
    width: 100%;
    height: 100%;
  }

  .description-mobile-1 {
    max-width: 65%;
  }

  .width-half {
    max-width: 75%;
  }

  .start-date-1 {
    margin-top: -20px;
    font-size: 40px;
    font-weight: 900;
  }

  .location-1 {
    margin-top: -7px;
    font-size: 20px;
  }

  .course-modules-mobile {
    display: flex;
    gap: 10px;
  }

  .box-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(5px);
    padding-top: 10px;
  }

  .box-flex:hover {
    border: 1px solid wheat;
  }

  .see-whole-program {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 50px;
  }

  .box-1 {
    width: 60%;
  }

  .box-2 {
    width: 50%;
    height: 250px;
  }

  .blurr-img {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .trainer-details {
    width: 100%;
  }

  .partner-image-template {
    width: 100%;
    height: 45vh;
    margin: auto;
  }

  .partner-image-set {
    width: 99%;
    height: 99%;
  }

  .about-footer {
    background-color: #272a31;
    color: #fff;
  }

  .speaker {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }

  .dynamic-img {
    width: 150px;
    height: 160px;
    margin-top: 20px;
  }

  .trainer-detail-grid {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    width: 40vw;
  }

  .partner-image-desktop-2 {
    width: 100%;
    height: 200px;
    margin-top: 5vh;
  }

  .partner-image-set2 {
    width: 100%;
    height: 100%;
  }

  .home-page-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: 20%;
  }
}

.name {
  margin-bottom: -0.25vh;
}

.grey-line {
  width: 20px;
  height: 1px;
  background-color: #69738b;
}
